@()
<div id="sidebar">
    <div class="panel panel-primary">
        
        <div class="panel-heading">
            <strong>Chức năng</strong>
        </div>
        
        <div class="panel-body">
            <li>
                <a class="dropdown-collapse" href="@routes.UserCP.list()">Danh sách học viên</a>
            </li>
            <li>
                <a href="#">Danh sách giáo viên</a>
            </li>
            <li>
                <a href="#">Danh sách luận văn</a>
            </li>
        </div>
    </div>
</div>